@font-face {
  font-family: 'enigmaticregular';
  src: url('../Enigma__2-webfont.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.custom-dropdown {
  position: relative;
  background-color: #4d2e9b;
  position: absolute;
  width: 190px;
  border-radius: 3px;
  padding: 9px 5px;
  text-align: left;
  z-index: 1;
  margin-top: 12px;
  height: auto;
  left: -130px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.7)
}


.custom-dropdown::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #4d2e9b transparent;
}

.custom-dropdown-wrapper {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  display: flex;
  flex-flow: wrap;
  line-height: 30px;
}

.custom-dropdown-content {
  cursor: pointer;
  color: white;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.custom-dropdown-content:hover {
  background-color: #6e57a5;
  border-radius: 5px;
}

@media screen and (max-width: 600px){
  .custom-dropdown {left: -130px;}
}
